* {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
  background-color: #FFF7ED;
  font-family: "Inter", sans-serif;
}

body::-webkit-scrollbar {
  display: none;
}

body {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

#root {
  max-height: 100dvh;
  /* Set a max height for the container */
  overflow: auto;
  /* Enable scrolling */
  position: relative;
  /* Needed for the pseudo-element */
  -ms-overflow-style: none;
  /* Hides scrollbar */
  scrollbar-width: none;
  /* Hides scrollbar */

  &::-webkit-scrollbar {
    width: 0;
    /* Hides vertical scrollbar */
    height: 0;
    /* Hides horizontal scrollbar */
  }
}